@mixin text($fw, $fsz, $lh, $lsp, $cl) {
  font-weight: $fw;
  font-size: $fsz;
  line-height: $lh;
  letter-spacing: $lsp;
  color: $cl;
}
@mixin section-title($mrb) {
  margin-bottom: $mrb;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}
@mixin logo($dsp: inline-block, $cl: var(--accent-color)) {
  display: $dsp;
  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: $cl;
}
@mixin header-link($cl) {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: $cl;
}
@mixin address-link($cl) {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: $cl;
  text-decoration: none;
}
@mixin description-title($cl) {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $cl;
}
@mixin button($dsp: inline-flex, $bgcl) {
  display: $dsp;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  cursor: var(--cursor);
  background-color: $bgcl;
}
@mixin border-background($bcl) {
  border: 1px solid $bcl;
  border-radius: 4px;
  background-color: transparent;
}
@mixin social-link() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
